<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/contacto.css">
</head>
<body>
    <header>
        <div class="barra-principal">
            <div class="title">
                <h2>Diseño</h2>
                <h2 class="blue">Multimedia</h2>
            </div>
            <nav>
                <ul>
                    <a href="../index.html">Inicio</a>
                    <a href="nosotros.html">nosotros</a>
                    <a href="servicios.html">servicios</a>
                    <a href="contacto.html" class="blue">contacto</a>
                </ul>
            </nav>
        </div>
        <div class="Subcribe">
            <h4>Subscribete a nuestro boletin</h4>
            <form>
                <input type="email" placeholder="Ingrese el Email..." class="subs">
                <input type="submit" value="Subscribete" class="button">
            </form>
        </div> 
    </header>
    <main>
        <div class="content">
            <h3>Contacto</h3>
            <form>
                <p>Nombre</p>
                <input type="text" placeholder="Ingresa tu nombre"  class="dates">
                <p>Email</p>
                <input type="email" placeholder="Ingresa tu Email"  class="dates">
                <p>Telefono</p>
                <input type="text" placeholder="Ingresa tu telefóno"  class="dates">
                <p>Celular</p>
                <input type="number" placeholder="Ingresa tu celular"  class="dates">
                <p>Mensaje</p>
                <textarea class="dates"></textarea>
                <button class="button-form">Enviar</button>
            </form>
        </div>
        <div class="content content-target">

            <div class="grey">
                <h6>Que hacemos</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis totam adipisci dolores dolore repellat laudantium, placeat, iste nihil aut facere sunt quaerat illum hic sit a non tenetur provident eligendi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, ut magni quam et non dicta officiis nulla numquam repudiandae quibusdam eum neque, mollitia quae eos facilis voluptate! Commodi, quis fugit.</p>
            </div>

            <div class="image">
                <img src="../assets/mapaGoogle.png" alt="">
            </div>
            
        </div>

    </main>

    <footer>
        <p class="foo">graphel desarrollo web, copyright &copy; 2017</p>
    </footer>
    
</body>
</html>