<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../styles/nosotros.css">
</head>
<body>
    <header>
        <div class="barra-principal">
            <div class="title">
                <h2>Diseño</h2>
                <h2 class="blue">Multimedia</h2>
            </div>
            <nav>
                <ul>
                    <a href="../index.html">Inicio</a>
                    <a href="nosotros.html" class="blue">nosotros</a>
                    <a href="servicios.html">servicios</a>
                    <a href="contacto.html">contacto</a>
                </ul>
            </nav>
        </div>
        <div class="Subcribe">
            <h4>Subscribete a nuestro boletin</h4>
            <form>
                <input type="email" placeholder="Ingrese el Email...">
                <input type="submit" value="Subscribete" class="button">
            </form>
        </div> 
    </header>
    <main>
        <div class="content">
            <div>
                <h6>Nosotros</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam rerum, aperiam non laudantium optio dolores officia atque exercitationem, nam ab quam expedita itaque facilis eum minus nesciunt quaerat dolorum at! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ea, repellendus distinctio ab at reprehenderit quam libero esse, aliquam obcaecati ducimus. Eius non consectetur dolorum doloremque et earum cum aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente doloribus repellendus tempora, dolorem veniam sequi esse itaque praesentium aliquam consectetur aliquid dolores dolorum ipsam maiores, totam distinctio ullam. Quis, aliquid.</p>
            </div>
            <div class="grey">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum dolor aut quam adipisci. Voluptatibus, corrupti vel ea saepe officiis fugit consequatur omnis nam deserunt! Dolorem quos ab accusamus sed quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium consequuntur ea ducimus eligendi, obcaecati suscipit culpa molestias asperiores animi fugiat accusantium dolor laudantium expedita dignissimos id esse incidunt. Molestias, iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam adipisci illum, facilis reprehenderit sapiente repellat ipsam perspiciatis eius iste accusamus ipsum consequatur perferendis illo laboriosam velit eos quo placeat consectetur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nostrum, molestiae commodi tenetur sequi hic impedit nesciunt. Amet, voluptate ipsam autem nemo laborum, quam esse doloribus id debitis aspernatur tenetur.</p>
            </div>
            <img src="../assets/891.jpg" alt="">
        </div>
        <div class="content content-target">
            <div class="grey">
                <h6>Que hacemos</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis totam adipisci dolores dolore repellat laudantium, placeat, iste nihil aut facere sunt quaerat illum hic sit a non tenetur provident eligendi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, ut magni quam et non dicta officiis nulla numquam repudiandae quibusdam eum neque, mollitia quae eos facilis voluptate! Commodi, quis fugit.</p>
            </div>
        </div>
    </main>

    <footer>
        <p class="foo">graphel desarrollo web, copyright &copy; 2017</p>
    </footer>
</body>
</html>