<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../styles/servicios.css">
</head>
<body>
    <header>
        <div class="barra-principal">
            <div class="title">
                <h2>Diseño</h2>
                <h2 class="blue">Multimedia</h2>
            </div>
            <nav>
                <ul>
                    <a href="../index.html">Inicio</a>
                    <a href="nosotros.html">nosotros</a>
                    <a href="servicios.html" class="blue">servicios</a>
                    <a href="contacto.html">contacto</a>
                </ul>
            </nav>
        </div>
        <div class="Subcribe">
            <h4>Subscribete a nuestro boletin</h4>
            <form>
                <input type="email" placeholder="Ingrese el Email...">
                <input type="submit" value="Subscribete" class="button">
            </form>
        </div> 
    </header>
    <main>
        <div class="content">
            <h3>Servicios</h3>
            <div class="box">
                <h6>Diseño Web</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam rerum, aperiam non laudantium optio dolores officia atque exercitationem, nam ab quam expedita itaque facilis eum minus nesciunt quaerat dolorum at! Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br><br>
                precio: $2000000 - $10000000</p>
            </div>
            <div class="box">
                <h6>Desarrollo Web</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum dolor aut quam adipisci. Voluptatibus, corrupti vel ea saepe officiis fugit consequatur omnis nam deserunt! Dolorem quos ab accusamus sed quidem. <br><br> precio desde: $1000000</p>
            </div>
            <div class="box">
                <h6>Hosting Web</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum dolor aut quam adipisci. Voluptatibus, corrupti vel ea saepe officiis fugit consequatur omnis nam deserunt! Dolorem quos ab accusamus sed quidem. <br><br> precio desde: $1000000</p>
            </div>
        </div>
        <div class="content content-target">
            <div class="grey">
                <h6>Que hacemos</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis totam adipisci dolores dolore repellat laudantium, placeat, iste nihil aut facere sunt quaerat illum hic sit a non tenetur provident eligendi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, ut magni quam et non dicta officiis nulla numquam repudiandae quibusdam eum neque, mollitia quae eos facilis voluptate! Commodi, quis fugit.</p>
            </div>
        </div>
    </main>

    <footer>
        <p class="foo">graphel desarrollo web, copyright &copy; 2017</p>
    </footer>

</body>
</html>